@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom font using @font-face */

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_Rg.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('/fonts/Aller_Bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the custom font to h1 tags globally */
h1 {
  font-family: 'Aller', sans-serif;
	font-size: 75px;
}

.font-bold {
  font-family: 'Aller Bd', sans-serif;
}

.font-thin {
  font-family: 'Aller', sans-serif;
}

